body {background-color: black; color: white; font-family: sans-serif;}

a:link {background-color: #cccccc;}
a:visited {background-color: #cccccc;}
a:hover {background-color: #cccccc;}
a:active {background-color: #cccccc;}

h1 {font-family: 'times new roman'; color: grey;}

.news {font-style: italic; color: red; }